<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto</title>
    <link rel="stylesheet" href="../style/detalhes-projetos.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a href="../index.html"><i class="fa-solid fa-chevron-left"></i></a>
        <h1>Detalhes do Projeto</h1>
    </header>
    <main>
        <section class="projeto-detalhes">
            <h2 class="nome-projeto">Nome do Projeto</h2>
            <p class="descricao-projeto">Descrição do projeto...</p>
        </section>
        <section class="tecnologias-utilizadas">
            <h3>Tecnologias Utilizadas</h3>
            <p class="tecnologias-projeto"></p>
        </section>
        <section class="links-uteis">
            <h3>Links Úteis</h3>
            <a class="link-projeto" href="#">GitHub</a><br>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Eros Franklin. Todos os direitos reservados.</p>
    </footer>
    <script src="../javascript/detalhes-projetos.js"></script>
</body>
</html>